@using WebMatrix.Data;

@{
    var db = Database.Open("MegaDeskWeb");
    var selectedData = db.Query("SELECT * FROM Quote");
    var grid = new WebGrid(source: selectedData);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Styles/main.css" rel="stylesheet" />
    <title>Mega Desk</title>
</head>

<body>
    <h1>
        Mega Desk
    </h1>
    <ul>
        <li><a href="~/MegaDeskWeb.cshtml">Home</a></li>
        <li><a href="~/AddNewQuote.cshtml">Add New Quote</a></li>
        <li><a href="~/SearchQuote.cshtml">Search Quote</a></li>
    </ul>
    <hr />
    <h1>Quotes</h1>
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column(format: @<a href="~/EditQuote.cshtml?id=@item.ID" class="editButton">Edit</a>),
            grid.Column("Name"),
            grid.Column("Price"),
            grid.Column("Date",
            format: item => ((item.Date == null) ? "" : item.Date.ToString("MM/dd/yyyy"))),
            grid.Column(format: @<a href="~/DeleteQuote.cshtml?id=@item.ID" class="deleteButton">Delete</a>)
                    )
                )
    <footer></footer>
</body>

</html>
